html{
    scroll-behavior: smooth;
}

body{
    font-family: sora;
    padding: 0;
    margin: 0;
}

.heder{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left{
    margin: 3rem;
    float: left;
    padding: 1rem;
    
}

.left img{
    width: 80%;
}

.right{
   
    text-align: right;
    width: 65%;
    padding-top: 5%;
    padding-bottom: 5%;
    
}

.right ul{
    list-style: none;    
}

.right li{
    display: inline;
    padding-right: 5rem;    
}

a{
    text-decoration: none;
    color: #444;
    font-weight: 550;
    font-size: 20px;
    transition: .5s ease;
}
.content_right{
    display: flex;
    margin-left:20%;
    margin-top: -38%;
    width: 100%;
    
}

.content_right img{
    z-index: -1;
    width: 79vw;
    
}

a:hover{ 
    color: #5CB6B1;
    transform: translateY(1);
}


.content{
    padding-left: 6rem;
}

.content_left{
    margin-top: 3rem;
}


.content_left h1{
    font-size: 40px;
    color: #555;
    font-weight: 400;
    letter-spacing: 0.25rem;
    margin-top: -1rem;
}

.content_left_info{
    margin-top: -0.75rem;
    padding-top: -50px;
    letter-spacing: 2px;
    font-size: 15px;
    line-height: 24px;
    color: #555;
    font-weight:normal;
}

.button_set{
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    margin-left: 0.5rem;
    padding-left: 1rem;
}

.button_login{
    background: #4ef75c;
    margin-left: 1rem;
    padding: 1rem;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    color: #333;
    cursor: pointer;
    transition: .5s ease;
}

.button_login:hover{
    transform: scale(1.2);
}

.about_us{
    position: relative;
    top: -16rem;
    background-image: url("../images/aboutus.jpg");
    height:78vh;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #eee;
    padding: 5rem;
    margin-top: 5rem;
    
}
.para-box{
  padding: 3rem;
  position: relative;
  background-color: #eee;
  border-radius: 10px;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000; 
  height: 30rem; 
  /*min-height: 100vh;*/
}


.para-box p{
    margin-left: 2rem;
    margin-right: 2rem;
    font-weight: bold;
    color: #000000;
    line-height: 30px;
    word-spacing: 10px;
    opacity: 1;
    text-align: justify;
  }


  .head-para-type{
    position: relative;
    
  }
  

  .head-para-type::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: #000;
    animation: blinkCursor 0.8s steps(3) infinite;
  }
  
  @keyframes blinkCursor {
      0%,75%{
        opacity: 1;
      }
      76%,100%{
        opacity: 0;
      }
  }

  .head-para-type h1{
    position: relative;
    font-size: 3rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000; 
   }

   .head-para-type2 h1{
    position: relative;
    font-size: 3rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000; 
   }
  
   .head-para-type2{
    position: relative;
    
  }

   
.contact{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #000;
  width: 400px;
  line-height: 35px;
  padding: 8px 25px;
  border-radius: 5px;
}

.contact label{
  color: white;
  font-size: 22px;
  display: block;
  cursor: pointer;
  font-weight: 500;
}

.button_db span{
  float: right;
  line-height: 25px;
}

.contact ul{
  position: absolute;
  background: #1b1b1b;
  list-style: none;
  top: 70px;
  left: 0;
  width: 90%;
  display: none;
}

[id^=btn]:checked+ul{
    display: block;
}
  

.contact ul li{
  line-height: 30px;
  padding: 8px 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.contact ul li label{
    font-size: 18px;
  }

.contact ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;     
  }

.contact ul li a:hover,
.contact ul li label:hover{
    color: cyan;
  }

.contact .menu::before{
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    right: 20px;
    top: -10px;
    transform: rotate(45deg);
    z-index: -1;
    background: #1b1b1b;
  }

.contact ul ul{
    position: static;
  }
  
.contact ul ul ul{
    position: static;
 }

.contact ul ul li{
    line-height: 25px;
    padding-left: 30px;
    border-bottom: none;
  }
.contact ul ul ul li{
    line-height: 25px;
    padding-left: 30px;
    border-bottom: none;
  }
.contact ul li a{
    color: #e6e6e6;
    font-size: 17px;
  }

.contact ul li span{
    font-size: 20px;
    /*float: right;*/
    margin-top: 2px;
    padding: 0 5px;
  }

.second_arrow{
    font-size: 20px;
    margin-top: 2px;
    padding: 0 5px;
  }

.btn1{
    display: none;
}
  


