
.content{
    display: flex;
    flex-direction: row;    
}

.content_right{
    margin-right: -3%;
}
.content_right img{
    width: 61vw;
}


.content_left h1{
    font-weight:300;
    text-align: center;
    padding: 6vw;
}

.content_important_view{
   padding: 2vw 0vw 0vw 7vw;
}

.important_contact_view_head{
    display: flex;
    flex-direction: row;
}

.imv_head{
    font-size:larger;
    font-weight: 500;
    color: #444;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-shadow:black;
    padding: 10px;
    line-height: 23px;
}


.drop_area_sort {
    background-color: #56ad8d;
    color: rgb(32, 13, 13);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .drop_area_sort:hover, .drop_area_sort:focus {
    background-color: #3e8e41;
  }

  #myInput{
    box-sizing: border-box;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }

  #myInput:focus{
      outline: 3px solid #ddd;
  }

  .drop_area_sort_cont{
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  .drop_area_sort_cont a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

   .imv_sort_bar a:hover{
       background-color: #ddd;
   }

   .show{
       display: block;
   }
