
.content{
    display: flex;
    flex-direction: row;    
}

.content_right{
    margin-right: -3%;
}
.content_right img{
    width: 61vw;
}


.content_left h1{
    font-weight:300;
    text-align: center;
    padding: 6vw;
}

.content_important_view{
   padding: 2vw 0vw 0vw 7vw;
}