.left_side{
    width:20%;
    height: 100vh;
    background-color: #F1ECEC;
}

.icon_left_side{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    
}

.icon_left_side img{
    width: 40px;
}

.icon_left_side li{
    padding-left: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    cursor: pointer;
}

.icon_left_side a{
    text-decoration: none;
}

.icon_left_side p{
    margin-top: -1.5rem;
    margin-left: 4rem;
    font-size: 20px;
    text-transform: uppercase;
    color: #333;
}

.icon_left_side li:hover{
    background-color: #ddd;
}


.right_side{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: -1;
    margin-top: -50%;
    width: 104%;
}

.top_side{
    border-bottom: 1px solid #555;
    height: 50%;
    text-align: center;
    padding-top: 5rem;

}

.top_side img{
    transform: scale(2);
}

.top_side p{
    padding-top: 1.75rem;
    text-align: center;
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
}

.bottom_side{
    padding-top:2rem;
    margin-left: 30%;
    color: #444;
}

.left_box h2{
    font-size: 30px;
}

.left_box h4{
    margin-left: 3rem;
    margin-top: 0.25rem;
    font-size: 20px;
}

.left_box span{
    float: right;
    margin-right: 25rem;
    
}

.left_box ul{
    list-style: none;
}

.left_box li{
    padding: 0.5rem;
    padding-left: 5rem;
}






